body {
    display: grid;
    place-content: center;
    grid-gap: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80vw;

}

a {
    color: #1ea0e6;
    font-size: 24px;
    line-height: 30px;
    font-family: GraphikCondensed;
    font-weight: 600;
    text-decoration: underline;
    padding-left: 1rem;
 
}

nav {
    display: flex;
    gap: 20px;
    
}

input {
    font-size: 1em;
    background-color:#1ea0e6;
}